In [1]:
import numpy as np
import pandas as pd

In [ ]:
pip install scikit-learn

In [2]:
df = pd.read_csv('better-life-index-2024.csv')
df.shape

(38, 26)

In [3]:
df.head()

,Country,GDP per capita (USD),Dwellings without basic facilities,Housing expenditure,Rooms per person,Household net adjusted disposable income,Household net wealth,Labour market insecurity,Employment rate,Long-term unemployment rate,...,Water quality,Stakeholder engagement for developing regulations,Voter turnout,Life expectancy,Self-reported health,Feeling safe walking alone at night,Homicide rate,Employees working very long hours,Time devoted to leisure and personal care,Life satisfaction
0,Australia,66589,NaN,19.4,NaN,37433.0,528768.0,3.1,73,1.0,...,92,2.7,92,83.0,85,67,0.9,12.5,14.36,7.1
1,Austria,59225,0.8,20.8,1.6,37001.0,309637.0,2.3,72,1.3,...,92,1.3,76,82.0,71,86,0.5,5.3,14.51,7.2
2,Belgium,55536,0.7,20.0,2.1,34884.0,447607.0,2.4,65,2.3,...,79,2.0,88,82.1,74,56,1.1,4.3,15.52,6.8
3,Canada,54866,0.2,22.9,2.6,34421.0,478240.0,3.8,70,0.5,...,90,2.9,68,82.1,89,78,1.2,3.3,14.57,7.0
4,Chile,16616,9.4,18.4,1.9,NaN,135787.0,7.0,56,NaN,...,62,1.3,47,80.6,60,41,2.4,7.7,NaN,6.2

In [4]:
df.columns = df.columns.str.strip().str.replace(r'[\s()]+', '_', regex=True).str.lower()
df.columns

Index(['country', 'gdp_per_capita_usd_', 'dwellings_without_basic_facilities',
       'housing_expenditure', 'rooms_per_person',
       'household_net_adjusted_disposable_income', 'household_net_wealth',
       'labour_market_insecurity', 'employment_rate',
       'long-term_unemployment_rate', 'personal_earnings',
       'quality_of_support_network', 'educational_attainment',
       'student_skills', 'years_in_education', 'air_pollution',
       'water_quality', 'stakeholder_engagement_for_developing_regulations',
       'voter_turnout', 'life_expectancy', 'self-reported_health',
       'feeling_safe_walking_alone_at_night', 'homicide_rate',
       'employees_working_very_long_hours',
       'time_devoted_to_leisure_and_personal_care', 'life_satisfaction'],
      dtype='object')

In [10]:
df = pd.get_dummies(df, columns=['country'])

In [12]:
df.head()

,gdp_per_capita_usd_,dwellings_without_basic_facilities,housing_expenditure,rooms_per_person,household_net_adjusted_disposable_income,household_net_wealth,labour_market_insecurity,employment_rate,long-term_unemployment_rate,personal_earnings,...,country_Poland,country_Portugal,country_Slovak Republic,country_Slovenia,country_Spain,country_Sweden,country_Switzerland,country_TÃ¼rkiye,country_United Kingdom,country_United States
0,66589,NaN,19.4,NaN,37433.0,528768.0,3.1,73,1.0,55206.0,...,False,False,False,False,False,False,False,False,False,False
1,59225,0.8,20.8,1.6,37001.0,309637.0,2.3,72,1.3,53132.0,...,False,False,False,False,False,False,False,False,False,False
2,55536,0.7,20.0,2.1,34884.0,447607.0,2.4,65,2.3,54327.0,...,False,False,False,False,False,False,False,False,False,False
3,54866,0.2,22.9,2.6,34421.0,478240.0,3.8,70,0.5,55342.0,...,False,False,False,False,False,False,False,False,False,False
4,16616,9.4,18.4,1.9,NaN,135787.0,7.0,56,NaN,26729.0,...,False,False,False,False,False,False,False,False,False,False

In [13]:
df.to_csv('df.csv', index=False)

In [15]:
df= df.copy()
for column in df.select_dtypes(include=['bool']).columns:
    df[column] = df[column].astype(int)

# Mostrar las primeras filas del dataframe transformado
df.head()

,gdp_per_capita_usd_,dwellings_without_basic_facilities,housing_expenditure,rooms_per_person,household_net_adjusted_disposable_income,household_net_wealth,labour_market_insecurity,employment_rate,long-term_unemployment_rate,personal_earnings,...,country_Poland,country_Portugal,country_Slovak Republic,country_Slovenia,country_Spain,country_Sweden,country_Switzerland,country_TÃ¼rkiye,country_United Kingdom,country_United States
0,66589,NaN,19.4,NaN,37433.0,528768.0,3.1,73,1.0,55206.0,...,0,0,0,0,0,0,0,0,0,0
1,59225,0.8,20.8,1.6,37001.0,309637.0,2.3,72,1.3,53132.0,...,0,0,0,0,0,0,0,0,0,0
2,55536,0.7,20.0,2.1,34884.0,447607.0,2.4,65,2.3,54327.0,...,0,0,0,0,0,0,0,0,0,0
3,54866,0.2,22.9,2.6,34421.0,478240.0,3.8,70,0.5,55342.0,...,0,0,0,0,0,0,0,0,0,0
4,16616,9.4,18.4,1.9,NaN,135787.0,7.0,56,NaN,26729.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 63 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   gdp_per_capita_usd_                                38 non-null     int64
 1   dwellings_without_basic_facilities                 35 non-null     float64
 2   housing_expenditure                                35 non-null     float64
 3   rooms_per_person                                   37 non-null     float64
 4   household_net_adjusted_disposable_income           33 non-null     float64
 5   household_net_wealth                               29 non-null     float64
 6   labour_market_insecurity                           34 non-null     float64
 7   employment_rate                                    38 non-null     int64
 8   long-term_unemployment_rate                        37 non-null     float64
 9   personal_earnings                                  35 non-null     float64
 10  quality_of_support_network                         38 non-null     int64
 11  educational_attainment                             37 non-null     float64
 12  student_skills                                     37 non-null     float64
 13  years_in_education                                 37 non-null     float64
 14  air_pollution                                      38 non-null     float64
 15  water_quality                                      38 non-null     int64
 16  stakeholder_engagement_for_developing_regulations  38 non-null     float64
 17  voter_turnout                                      38 non-null     int64
 18  life_expectancy                                    38 non-null     float64
 19  self-reported_health                               38 non-null     int64
 20  feeling_safe_walking_alone_at_night                38 non-null     int64
 21  homicide_rate                                      38 non-null     float64
 22  employees_working_very_long_hours                  36 non-null     float64
 23  time_devoted_to_leisure_and_personal_care          22 non-null     float64
 24  life_satisfaction                                  38 non-null     float64
 25  country_Australia                                  38 non-null     int32
 26  country_Austria                                    38 non-null     int32
 27  country_Belgium                                    38 non-null     int32
 28  country_Canada                                     38 non-null     int32
 29  country_Chile                                      38 non-null     int32
 30  country_Colombia                                   38 non-null     int32
 31  country_Costa Rica                                 38 non-null     int32
 32  country_Czechia                                    38 non-null     int32
 33  country_Denmark                                    38 non-null     int32
 34  country_Estonia                                    38 non-null     int32
 35  country_Finland                                    38 non-null     int32
 36  country_France                                     38 non-null     int32
 37  country_Germany                                    38 non-null     int32
 38  country_Greece                                     38 non-null     int32
 39  country_Hungary                                    38 non-null     int32
 40  country_Iceland                                    38 non-null     int32
 41  country_Ireland                                    38 non-null     int32
 42  country_Israel                                     38 non-null     int32
 43  country_Italy                                      38 non-null     int32
 44  country_Japan                                      38 non-null     int32
 45  country_Korea                                      38 non-null     int32
 46  country_Latvia                                     38 non-null     int32
 47  country_Lithuania                                  38 non-null     int32
 48  country_Luxembourg                                 38 non-null     int32
 49  country_Mexico                                     38 non-null     int32
 50  country_Netherlands                                38 non-null     int32
 51  country_New Zealand                                38 non-null     int32
 52  country_Norway                                     38 non-null     int32
 53  country_Poland                                     38 non-null     int32
 54  country_Portugal                                   38 non-null     int32
 55  country_Slovak Republic                            38 non-null     int32
 56  country_Slovenia                                   38 non-null     int32
 57  country_Spain                                      38 non-null     int32
 58  country_Sweden                                     38 non-null     int32
 59  country_Switzerland                                38 non-null     int32
 60  country_TÃ¼rkiye                                    38 non-null     int32
 61  country_United Kingdom                             38 non-null     int32
 62  country_United States                              38 non-null     int32
dtypes: float64(18), int32(38), int64(7)
memory usage: 13.2 KB

In [50]:
print(df.isna().sum())

gdp_per_capita_usd_                         0
dwellings_without_basic_facilities          0
housing_expenditure                         0
rooms_per_person                            0
household_net_adjusted_disposable_income    0
                                           ..
country_Sweden                              0
country_Switzerland                         0
country_TÃ¼rkiye                             0
country_United Kingdom                      0
country_United States                       0
Length: 63, dtype: int64

In [49]:
df= df.copy()
for column in df.columns:
    if df[column].dtype in ['float64', 'int64']:
        df[column].fillna(df[column].mean(), inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_21376\2155377667.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df.drop('life_satisfaction', axis=1)  # Suponiendo que 'saleStatus' es la variable objetivo
y = df['life_satisfaction']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
scaler = StandardScaler()

In [55]:
# Ajustar el scaler solo con los datos de entrenamiento
X_train_scaled = scaler.fit_transform(X_train)

# Transformar los datos de prueba
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [57]:

model = LinearRegression()
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

In [58]:
mse = mean_squared_error(y_test, y_pred)
r_squared = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r_squared)

Mean Squared Error: 0.018221395558627902
R-squared: 0.5058604594270403

In [ ]:
#Guardamos el modelo con pickle, este modelo serÃ¡ parte de nuestro servidor

In [59]:
import pickle

In [61]:
model_filename = 'model.pickle'
with open(model_filename, 'wb') as file:
    pickle.dump(model, file)

-Crear la aplicaciÃ³n Flask:

-Un endpoint para recibir las caracterÃ­sticas (x) y devolver las predicciones.
-Un endpoint para verificar los logs de predicciones.
Guardar los logs: Cada vez que se realice una predicciÃ³n, guardar los inputs y outputs en un archivo o base de datos.

In [ ]:
from flask import Flask, request, jsonify
import pickle
import pandas as pd
from datetime import datetime
#inicializamos la app, incluimos endpoint y ejecutamos (pasos obligatorios)
app = Flask(__name__)

# Cargar el modelo y el escalador
model_path = 'model.pickle'
scaler_path = 'scaler.pickle'

with open(model_path, 'rb') as f:
    model = pickle.load(f)

with open(scaler_path, 'rb') as f:
    scaler = pickle.load(f)

# Ruta para guardar logs
logs_path = 'logs.csv'

# Endpoint para realizar predicciones
@app.route('/predict', methods=['GET'])
def predict():
    # Obtener los parÃ¡metros de la URL
    data = request.args.to_dict()
    
    # Convertir los datos a un DataFrame
    df = pd.DataFrame([data])
    
    # Asegurarse de que los datos sean del tipo correcto
    df = df.astype(float)
    
    # Escalar los datos
    df_scaled = scaler.transform(df)
    
    # Realizar la predicciÃ³n
    prediction = model.predict(df_scaled)
    
    # Guardar el log de la predicciÃ³n
    log = {
        'fecha': datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
        'inputs': df.to_json(),
        'prediction': prediction[0]
    }
    logs_df = pd.DataFrame([log])
    logs_df.to_csv(logs_path, mode='a', header=not pd.io.common.file_exists(logs_path), index=False)
    
    return jsonify({'prediction': prediction[0]})

# Endpoint para verificar los logs
@app.route('/check-logs', methods=['GET'])
def check_logs():
    logs_df = pd.read_csv(logs_path)
    return logs_df.to_json(orient='records')

if __name__ == '__main__':
    app.run(debug=True) #cuando la aplicaciÃ³n no funciona, nos especifica el porquÃ©